@page
@model ShopFinder.Pages.RequestsPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1 class="">Request Details</h1>
    <hr />
    <dl class="row">
         <dt class="col-sm-2">
           Shop
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Shop.ShopName)
        </dd>
        <dt class="col-sm-2">
           Mobile No
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.MobileNo)
        </dd>
        <dt class="col-sm-2">
           Request Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.RequestStatus)
        </dd>
        <dt class="col-sm-2">
           Delivery Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.DeliverAddress)
        </dd>
        <dt class="col-sm-2">
           Buying Items
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.BuyingItems)
        </dd>
        <dt class="col-sm-2">
           CreditCard Required 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.IsCreditCardRequiredOnDlivery)
        </dd>
        
        <dt class="col-sm-2">
          Request Send At
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.RequestSendOn)
        </dd>
        <dt class="col-sm-2">
           Request Accepted At
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.RequestAcceptedOn)
        </dd>
        <dt class="col-sm-2">
            Dilvery Started At
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.DilveryStarted)
        </dd>
        <dt class="col-sm-2">
           Dilverd At
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Dilverd)
        </dd>
 
    </dl>
</div>
<div>
   
    <a asp-page="/ShopPages/Details" asp-route-id="@Model.Request.ID" asp-route-action="Accept" class="btn btn-warning">Accept</a>
    <a asp-page="/ShopPages/Details" asp-route-id="@Model.Request.ID" asp-route-action="Decline" class="btn btn-danger">Decline</a>
    <a asp-page="/ShopPages/Details" asp-route-id="@Model.Request.ID" asp-route-action="Message" class="btn btn-info">Message</a>
    <a asp-page="/ShopPages/Details" class="btn btn-primary">Back</a>
</div>
