@page
@model ShopFinder.Pages.ShopPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

    <h1>Buying Requests</h1>

    <div>

        <hr />
        @Html.DisplayNameFor(model => model.Shop.ShopName)
        <br />
        @Html.DisplayFor(model => model.Shop.ShopName)
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Customer Mobile No
                    </th>
                    <th>
                        Delivery Address
                    </th>
                    <th>
                        Status
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Requests)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MobileNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliverAddress)
                    </td>
                    <td>

                        @{
                            if (item.RequestStatus == "Send")
                            {
                                <span class="badge badge-primary">@item.RequestStatus</span>
                            }
                            else if (item.RequestStatus == "Accpeted")
                            {
                                <span class="badge badge-secondary">@item.RequestStatus</span>
                            }
                            else if (item.RequestStatus == "Processing")
                            {
                                <span class="badge badge-info">@item.RequestStatus</span>
                            }
                            else if (item.RequestStatus == "Delvering")
                            {
                                <span class="badge badge-warning">@item.RequestStatus</span>
                            }
                            else if (item.RequestStatus == "Deliverd")
                            {

                                <span class="badge badge-success">@item.RequestStatus</span>
                            }
                            else if (item.RequestStatus == "Decline")
                            {
                                <span class="badge badge-danger">@item.RequestStatus</span>
                            }
                        }
                    </td>
                    <td>
                        <a asp-page="/RequestsPages/Details" asp-route-id="@item.ID" asp-route-action="View" class="btn btn-primary">View</a>
                        <a asp-page="./Details" asp-route-id="@item.ID" asp-route-action="Accept" class="btn btn-warning">Accept</a>
                        <a asp-page="./Details" asp-route-id="@item.ID" asp-route-action="Decline" class="btn btn-danger">Decline</a>
                        <a asp-page="./Details" asp-route-id="@item.ID" asp-route-action="Message" class="btn btn-info">Message</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Shop.ID" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
