@page
@model ShopFinder.Pages.ShopPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.UserID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.ShopName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.ShopName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.ShopCatagory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.ShopCatagory.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.IsOpen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.IsOpen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.ConatctPerson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.ConatctPerson)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.Address2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.Address2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.City.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.GPSLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.GPSLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.ContactNo1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.ContactNo1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.ContactNo2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.ContactNo2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.ContactNo3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.ContactNo3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.IsDiliveryAvilabel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.IsDiliveryAvilabel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.IsCreditCardAccept)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.IsCreditCardAccept)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.IsCreditCardAcceptOnDeliveryLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.IsCreditCardAcceptOnDeliveryLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.OpenTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.OpenTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.ClosedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.ClosedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.Updated)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Shop.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
