@page
@model ShopFinder.Pages.ShopPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Shop[0].ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop[0].ShopCatagory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop[0].IsOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop[0].ConatctPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Shop) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopCatagory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConatctPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address) + ":" +  @Html.DisplayFor(modelItem => item.Address2) + ":" +   @Html.DisplayFor(modelItem => item.City.ID);
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
